vendor-prefixes ?= webkit moz official
@import 'nib'

body = #e8e8e8
color = #272822


body
	background body
	display: flex; //Poner el footer siempre abajo
	font-size 14px
	font-family 'Source Sans Pro', sans-serif  
	flex-direction: column;  //Poner el footer siempre abajo
	min-height: 100vh;		//Poner el footer siempre abajo
	

header
	background color
	box-shadow 0 3px 1px rgba(0,0,0,0.2)
	height 62px
	padding 10px
	overflow hidden
	position relative

	.logo
		border-right 1px solid green
		float left
		margin-left -10px
		padding 0.5em

		img
			width 60px

	.logo-poli
		position absolute
		top 10px
		right 10px
		img
			width 50px


	.titular
		margin -5px 60px 0 80px

		.titulo
			color white
			font-size 14px

footer
	background color
	border-radius 0.8em 0.8em 0 0
	color white
	overflow hidden
	padding-top 5px
	padding-bottom 5px
	position relative
	width 100%
	min-height: 5rem //Poner el footer siempre abajo
	height: 60px
	min-height: 5rem //Poner el footer siempre abajo
	text-align center
	width 100%
	-ms-border-radius 0.8em 0.8em 0 0
	-webkit-border-radius 0.8em 0.8em 0 0
   	-moz-border-radius 0.8em 0.8em 0 0

ul ,ol, li
	list-style none

label
	font-size 15px
	font-weight bold
	margin-bottom 5px

nav
	margin-top 10px
	background color

section
	flex: 1 //Poner el footer siempre abajo

#contenedor
	background white
	border-radius 0 0 0.5em 0.5em
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5)
	flex: 1
	margin 0 1em 3em 1.5em
	padding 0.5em
	position relative
	top 25px

	.listar
		text-align center

		.tutiloListar
				font-size 18px
				font-weight bold

#FormularioListar

	#Caracteristicarc
	#Caracteristica
	#Facultad
	#Programa
	#Indicador
	#Factor
	.form-group
		position relative
		padding 0.5em
		text-align left

		&.descripcion
			height 66px
			
		.select
		.subir
			width 50%
			position absolute
			top 5px
			left 200px

			#enviar
				position relative
			
			.inpNombre
				width 300px

			select
				width 50%

			textarea
				width 651px
				height 70px
				resize none

	.subir
		position relative

		.mensaje
			background #272822
			border-radius 0.5em
			color white
			display none
			left 335px
			padding 5px
			position absolute
			top -2px

			&.des
				left 684px
				width 142px

	.informacion
		position relative
		height 180px

	#Caracteristicarc
	#Caracteristica
	#Programa
	#Factor
	#Indicador
	.informacion
		display none

	.datagrid
	.datagrid-autoevaluacion
		display none
		margin-top 20px

		table
			border-collapse collapse
			text-align center
			width 100%

	.datagrid
	.datagrid-autoevaluacion
		font-size 16px
		background #fff
		overflow hidden
		border 1px solid #696969;
		border-radius 4px

		table
			a 
				text-decoration none

			thead
				background: linear-gradient(top, #8C8C8C, #595959)
				color white
				text-align center
				-moz-background: linear-gradient(top, #8C8C8C, #595959)
				-ms-background: linear-gradient(top, #8C8C8C, #595959)
			td 
				border-right 1px solid black


			td 
			th 
				padding 1px 10px

			tbody
				tr:hover
					background #dff0d8
					transition 1s
					-moz-transition 1s
					-webkit-transition 1s
					-ms-transition 1s
					

#logoPoli
	width 200px 
	heigth 200px

#logosiwebsi
	width 150px 
	heigth 150px
	margin-top 10px

//css del menu

#menu
	background #252525
	border-radius 0 0.5em 0 0.5em
	box-shadow 0 2px 3px rgba(0,0,0,0.4)
	margin 0 auto
	padding-left 33px
	width 750px
	margin-top 10px
	
	*
		margin 0
		padding 0

	a 
		text-decoration none
		color green
		padding 0.5em
		font-size 16px
		line-heigth 40px
		padding 11px 20px
		transition color 2s

		&:hover
			color white

#menu > ul > li
	list-style none
	float left
	position relative

	& a 
		display: inline-block;

#menu > ul > li > ul
	list-style none
	opacity 0
	visible hidden
	background #252525
	border-radius 0.5em
	box-shadow 0px 1px 3px rgba(0,0,0,4)
	padding 8px 0 20px 0
	position absolute
	text-align center
	transition all 0.3s 0.15s
	top 20px
	width 160px

	li > a
		display block 
		margin-bottom -15px

#menu > ul > li:hover > ul
	opacity 1
	top 50px
	visibility visible
	z-index 1000

#menu > ul > li > ul:before
	
	border-color transparent transparent #252525 transparent 
	border-style solid
	top -20px
	border-width 10px
	left 43%
	content ''
	position absolute


.menu_bar
	display none


@media screen and (max-width:800px)

	select
		width 100%

	#menu
		left: -110%;
		width: 100%;
		height: 230px;
		position: absolute;
		margin-top: 0;
		z-index 1000

		ul li
			width: 80%;
			display: inline;
			border-bottom 1px solid rgba(255,255,255, 0.3)


	#menu > ul > li > ul
		opacity 0
		visible hidden
		background white
		border-radius 0.5em
		box-shadow 0px 1px 3px rgba(0,0,0,4)
		padding 8px 0 20px 0
		position absolute
		text-align center
		transition all 0.3s 0.15s
		top -21px
		left 152px
		width 160px

		a:hover 
			color black

	#menu > ul > li:hover > ul
		opacity 1
		top -21px
		left 180px
		visibility visible
		z-index 1000

	#menu > ul > li > ul:before
		border-color transparent white transparent transparent 
		border-style solid
		top 30px
		border-width 10px
		left -12%
		content ''
		position absolute

	.menu_bar
		background: color
		border-radius 0 0 0.5em 0
		display: block;
		//position relative
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: 100%

		& a 
			text-decoration none

	.menu_bar .bt_menu
		display: block;
		padding: 20px;
		background: #252525
		color: white;
		font-weight: bold;
		font-size: 25px;
		box-sizing: border-box;

	.menu_bar a span 
		float:right

	#FormularioListar
		
		#Caracteristicarc
		#Caracteristica
		#Programa
		#Indicador
		#Factor
			display none


		.informacion
			position relative
			height 250px

		#Caracteristicarc
		#Caracteristica
		#Programa
		#Indicador
		#Factor
		#Facultad
		.form-group
			
			&.descripcion
				height 87px
			
			.select
			.subir
			
				display block
				left 0
				position relative
				top 5px
				width 100%

				#archivo
					width 100%

				.inpNombre
					width 100%
				select
					width 100%


				textarea
					width 98%
					resize none
		.subir
			position relative

			.mensaje
				background #272822
				border-radius 0.5em
				color white
				display none
				left 122px
				padding 5px
				position absolute
				top -27px
				width 142px

				&.des
					left 143px
					width 139px
					
